/* skin default */
:root {
  --base-color-alpha: #333333;
  --base-color-beta: #ffffff;
  --base-color-gamma: #4d4d4d;
  --base-color-delta: #5f5f5f;
  --base-color-epsilon: #858585;
  --base-color-zeta: #a6a6a6;
  --base-color-eta: #c7c7c7;
  --base-color-theta: #e7e7e7;
  --base-color-iota: #f4f4f4;
}

